{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="wrapper">
    <section id="aboutus" class="about-us-section py-5" style="background-color: #f8f9fa;">
        <div class="container">
            <div class="about-us-container row">
                <div class="about-us-text col-md-6" style="text-align: justify;">
                    <h2 class="display-4" style="font-weight: bolder; color: rgb(0, 0, 92);">ABOUT US</h2><br>
                    <h1 style="font-weight: bold;"> DR. MICHAEL J. BARTELL</h1>
                    <h1 style="font-weight: bold; font-size: 1.5em; color:rgb(11, 81, 81)" > Clinic Director </h1>
                    <p style="font-size: smaller;"> <strong> DR. MICHAEL J. BARTELL, D.C. </strong> studied chiropractic at the New York Chiropractic College of the State University of New York. For the past 42 years of practice, Dr. Bartell has focused on clinical applications of the most current approaches to natural healthcare.</p>
                    <p style="font-size: smaller;"> Dr. Bartell has acquired post-graduate expertise in applications of decompression therapy for lumbar spine pathologies, cold laser treatment of soft tissue and contiguous structural affections of the spine and joint structures, and clinical application of biomechanics and structural balance via custom-made, functional orthotics.</p>
                    <p style="font-size: smaller;"> “Most satisfying to me are the capabilities available in the practice of chiropractic to integrate various natural approaches to synergistically achieve corrections in the body in a systemic sense.”</p>
                    <p style="font-size: smaller;"> “My proudest accomplishment is the development of a clinically credible approach to cure adolescent idiopathic scoliosis that is non-restrictive and zero-bracing. My yet-to-be published findings regarding scoliosis detail my synergistic approach at treatment of this biomechanical, structural and biochemical affectation of over 1.5 million young people.”</p>    
                    <p style="font-size: smaller;"> “I welcome everyone to our clinic, understanding that we all deserve to live happy and healthy. I will do all I can to help us all to achieve this goal.”</p> 
                    <a href="contact_us" class="btn btn-primary" style="margin-bottom: 2em;">Come Say Hello!</a>
                </div>
                <div class="about-us-image col-md-6">
                    <img src="{% static 'img/MJBartell.jpg' %}" alt="Dr MJ Bartell" class="img-fluid">
                </div>
            </div>
        </div>
        
        <div class="container Sherries-container mt-5">
            <div class="row">
                <div class="Sherries-image col-md-6">
                    <img src="{% static 'img/SMBartell.jpg' %}" alt="Dr Sherrie Bartell" class="img-fluid">
                </div>
                <div class="Sherries-text col-md-6" style="text-align: justify;">
                    <h1 style="font-weight: bold;"> DR SHERRIE MYERS BARTELL</h1>
                    <h1 style="font-weight: bold; font-size: 1.5em; color:rgb(11, 81, 81);" > Chief of Administration, policy Analysis, & Research </h1>
                    <p style="font-size: smaller;"> <strong> DR. SHERRIE MYERS BARTELL </strong> earned her Ph.D. in Public Administration from The Pennsylvania State University with emphases in learning organizations and public management. In addition, she holds an M.P.A. from The Pennsylvania State University; a B.A. degree in Mathematics from Long Island University; and professional certification in Training and Development from Penn State School of Behavioral Sciences and Education.</p>
                    <p style="font-size: smaller;">Dr. Sherrie joined the Bartell Healthcare Center in 2003 and serves as the principal liaison for the clinic, interfacing with insurance companies, patients, Managed Care Organizations, the Pennsylvania Department of Insurance, and many other external operatives relative to the practice of chiropractic in Pennsylvania. Much of her time is devoted to patient advocacy and staying abreast of developments in healthcare policy, both nationally and within Pennsylvania.</p>
                    <p style="font-size: smaller;">In 2007, Sherrie gave invited testimony to the Pennsylvania House Insurance Committee regarding two prospective bills. Sherrie’s publications include Principles & Practices of Public Administration (Marcel Dekker); Public Budgeting Laboratory Interactive Workbook (Carl Vinson Institute of Government); and Public Budgeting Laboratory Interactive Workbook User's Guide (Carl Vinson Institute of Government). In addition, she has had articles published in several peer-reviewed journals, including Innovations in Education and Training International, Public Administration Quarterly, International Journal of Organization Theory and Behavior, and Public Administration & Management.</p>
                    <p style="font-size: smaller;">When Dr. Sherrie is not working in the office, her hobbies include travel, knitting, and training her dogs, Zurie and Mishkah for Freestyle dance and other performance sports.</p>
                    <a href="contact_us" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <br><br><div class="container jennica-container mt-5">
            <div class="row">
                <div class="jennica-text col-md-6" style="text-align: justify;">
                    <h1 style="font-weight: bold;"> MS. JENNICA HOCKLEY</h1>
                    <h1 style="font-weight: bold; font-size: 1.5em; color:rgb(11, 81, 81)" > Certified Aroma Touch Therapist & Wellness Advocate </h1>
                    <p style="font-size: smaller;"> <strong> Ms. JENNICA HOCKLEY</strong> is certified in the Aroma Touch Technique developed by Dr. David Hill, a leading expert in integrative medicine and therapeutic applications of essential oils. Following Hill’s protocol, Jennica applies essential oils along the energy meridians and visceral contact points of the back and feet to stimulate homeostasis and balance in the body</p>
                    <p style="font-size: smaller;">In search of a drug-free alternative to relieve her seasonal allergy symptoms, Jennica was introduced to essential oils about two years ago. She reports that it has been over a year since needing an allergy shot thanks to the healthful benefits of using essential oils. Because of this amazing transformation, she wants to share and teach others how essential oils can be used naturally as a first line of defense.</p>
                    <p style="font-size: smaller;">Essential oils can be used for emotional and physical wellness such as joint/muscle pain, headaches, respiratory concerns, digestion issues, sleep, allergies and so much more.</p>
                    <p style="font-size: smaller;">Jennica is very excited to share her expertise with patients at the Bartell Healthcare Center.</p>    
                </div>
                <div class="about-us-image col-md-6">
                    <img src="{% static 'img/jennica.jpg' %}" alt="Dr MJ Bartell" class="img-fluid">
                </div>
            </div>
        </div>

        <!--<div class="container mission-container mt-5">
            <div class="row">
                <div class="mission-image col-md-6">
                    <img src="{% static 'images/Mission pic.webp' %}" alt="Car Keys" class="img-fluid">
                </div>
                <div class="mission-text col-md-6">
                    <h2 class="display-4" style="font-weight: bolder;">OUR MISSION</h2>
                    <p>We provide all customers with a seamless and stress-free car rental experience. We strive to make the process of renting a car convenient and efficient! We are constantly looking for ways to improve our service, and we are working hard to stay ahead of the competition.</p>
                    <a href="contact_us" class="btn btn-danger">Learn More</a>
                </div>
            </div>
        </div>-->
    </section>
</div>
{% endblock%}